# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
/static/

# Vercel
.vercel/
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
.vercel
